<!DOCTYPE html>
<html lang="en">
<head>
<title>kiddie cloud</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Kids Care Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="../static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="../static/css/style.css" type="text/css" rel="stylesheet" media="all">    
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="../static/css/font-awesome.css" rel="stylesheet">
<link href='css/simplelightbox.css' rel='stylesheet' type='text/css'>  
<link rel="stylesheet" href="../static/css/flexslider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="..static/css/jquery.flipster.css"> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="../static/js/jquery-2.2.3.min.js"></script>  
<!-- //js -->
<!-- web-fonts -->  
<link href="//fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- //web-fonts -->

</head>
	<!-- banner -->
	
	<!-- //banner -->
	<!-- contact -->
	<div class="contact w3-agileits">
		<div class="container">
			<h3 class="agileits-title1">FEEDBACK</h3>  
			<div class="contact-w3lsrow">
				<div class="col-md-6 contact-left wthree">
					<iframe src="https://maps.google.com/maps?q=thrissur&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
				</div>
				<div class="col-md-6 contact-right">
					<form action="/contact" method="post">
						<input type="text" name="name" placeholder="Name" required pattern="[a-zA-Z\s]+">
						<input type="text" name="email" placeholder="Email" required pattern="[^@\s]+@[^@\s]+">
						<input type="text" name="subject" placeholder="Subject" required pattern="[a-zA-Z\s]{0-9}">
						<textarea name="message" placeholder="Message" required pattern="[a-zA-Z\s]{0-9}"></textarea>
						<input type="submit" value="SEND">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div> 
			<!-- address -->
			<div class="address-agileinfo"> 
				<ul>
					<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Thrissur, Kerala</li>
					<li><i class="phon">Call Us :</i>  +91 8078297731</li>
					<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href=""> carekiddie27@mail.com</a></li>
				</ul>
			 </div>
			<!-- //address --> 
		</div>
	</div>
	<!-- //contact -->  
		<!-- start-smooth-scrolling -->
		<script type="text/javascript" src="../static/js/move-top.js"></script>
		<script type="text/javascript" src="../static/js/easing.js"></script>	
		<script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll").click(function(event){		
						event.preventDefault();
				
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
					});
				});
		</script>
		<!-- //end-smooth-scrolling -->	
		<!-- smooth-scrolling-of-move-up -->
		<script type="text/javascript">
			$(document).ready(function() {
				/*
				var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
				};
				*/
				
				$().UItoTop({ easingType: 'easeOutQuart' });
				
			});
		</script>
		<!-- //smooth-scrolling-of-move-up --> 	
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="../static/js/bootstrap.js"></script>
	</body>
	</html>